= form_for(@book) do |f|

  .field
    = f.label :title
    %br
    = f.text_field :title, :class => "text ui-widget-content ui-corner-all"
  .field
    = f.label :author
    %br
    = f.text_field :author, :class => "ui-widget-content ui-corner-all"
  .field.isbn
    = f.label :isbn
    %br
    = f.text_field :isbn, :class => "ui-widget-content ui-corner-all"
  .field
    = f.label :cover_url
    %br
    = f.text_field :cover_url, :class => "ui-widget-content ui-corner-all"
  .field
    = f.label :type
    %br
    = f.text_field :type, :class => "ui-widget-content ui-corner-all"
  .field
    = f.submit :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"

= form_for(Book.new) do |f|

  .field
    = f.label :title
    %br
    = f.text_field :title, :class => "text ui-widget-content ui-corner-all"
  .field
    = f.label :author
    %br
    = f.text_field :author, :class => "ui-widget-content ui-corner-all"
  .field.isbn
    = f.label :isbn
    %br
    = f.text_field :isbn, :class => "ui-widget-content ui-corner-all"
  .field
    = f.label :cover_url
    %br
    = f.text_field :cover_url, :class => "ui-widget-content ui-corner-all"
  .field
    = f.label :type
    %br
    = f.text_field :type, :class => "ui-widget-content ui-corner-all"
  .field
    = f.submit :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"

.amzn-results